/* This section is to remove padding from the container-fluid class */
.container-fluid {
  padding: 0;
}

/* Background Images */

.bgimg1 {
  background-image: url("../images/air_balloon.jpg");
  height: 100vh;
  letter-spacing: 0.2rem;
}

.bgimg2 {
  background: url("../images/whitewall.jpeg");
  min-height: 300px;
}

.bgimg3 {
  background: url("../images/Contact.jpg");
  min-height: 300px;
}

.bgimg1,
.bgimg2,
.bgimg3 {
  position: relative;

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  color: rgb(4, 194, 201);
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.portfolio {
  background-color: #343a40;
}

h2 {
  color: rgb(4, 194, 201);
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}

.capbrdr {
  background-color: rgba(52, 58, 64, 0.5);
  color: rgb(4, 194, 201);
  padding: 1rem;
}

.img-thumbnail {
  padding: 0;
  /* border: 1px solid rgb(4, 194, 201); */
  border: 0;
}

/* .img-container {
  position: relative;
  display: inline-block;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 170, 170);
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.img-container:hover .overlay {
  opacity: 1;
  transform: rotate(-5deg);
  transition: 0.7s ease;
}

.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
} */

p {
  font-size: 1.8 rem;
  line-height: 1.8rem;
}

.grad {
  background-image: linear-gradient(to right, rgba(113, 116, 119, 0), rgba(52, 58, 64, 1));
}

.portfolio > .row > .column > a > img:hover {
  box-shadow: 2px 2px 2px rgb(4, 194, 201);
  transform: rotate(-5deg);
  transition: 0.7s ease;
}

li a:hover {
  box-shadow: 2px 2px 2px rgb(4, 194, 201);
}

/* .footer {
  position: relative;
  z-index: 1;
} */

/* This is for the Contact Me section using flex to position icons */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Font Awesome Icons for Contact me section */

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
  text-decoration: none;
  color: yellow;
}

.fa-facebook {
  background: rgb(58, 86, 148);
  color: white;
}

.fa-twitter {
  background: rgb(85, 169, 233);
  color: white;
}

.fa-envelope {
  background: rgb(41, 58, 94);
  color: white;
}

.fa-linkedin {
  background: #067db4;
  color: white;
}

.fa-copyright {
  color: rgba(255, 255, 255, 0.5);
}

/* Reduce the height of bgimage sections on small screens */

@media screen and (max-width: 768px) {
  .bgimg2,
  .bgimg3 {
    background-attachment: scroll;
    min-height: 150px;
  }
}
